@import model.{Collection, Consts, Flashcard, User}

@(user: User, courseId: Int, collection: Collection, flashcards: Seq[Flashcard])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    s"Administration Sammlung '${collection.name}'"
}

@flashcardsPerRow = @{
    2
}

@colWidth = @{
    12 / flashcardsPerRow
}

@main(title, Some(user)) {
    <h3 class="center-align">@title</h3>

    <hr>

    @if(flashcards.nonEmpty) {

        @for(flashcardGroup <- flashcards.grouped(flashcardsPerRow)) {
            <div class="row">
            @for(flashcard <- flashcardGroup) {
                <div class="col m@colWidth s12">
                    <div class="card-panel">@flashcard.cardId: @flashcard.front</div>
                </div>
            }
            </div>
        }

    } else {
        <h4 class="red-text center-align">Diese Sammlung enthält noch keine Karteikarten.</h4>
    }

    <hr>

    <div class="row">
        <div class="col s12">
            <a href="@routes.AdminController.uploadCardsFileForm(courseId, collection.id)"
            class="btn btn-large waves-effect waves-block @accentColor">Karten importieren</a>
        </div>
    </div>


}
