@import model.{User, Course, Collection}

@(user: User, course: Course, collections: Seq[Collection])

@title = @{
    s"Administration Kurs '${course.name}'"
}

@main(title, Some(user)) {
    <h2 class="center-align">@title</h2>

    <hr>

    @if(collections.nonEmpty) {
        @collections
    } else {
        <p class="center-align red-text">
            Dieser Kurs besitzt noch keine Sammlungen. Sie müssen dem Kurs erst Sammlungen zuordnen.
        </p>
    }


    <hr>

    <a href="@routes.AdminController.allocateCollectionsToCourseForm(course.id)"
    class="btn btn-large waves-effect waves-block blue">Sammlungen zuordnen</a>

}