@import model.{User, CollectionBasics, Consts}

@(user: User, courseId: Int, newCollectionForm: Form[CollectionBasics])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

    @title = @{
        "Neue Sammlung erstellen"
    }

    @main(title, Some(user)) {
        <h2 class="center-align">@title</h2>

        <div class="row">
            <div class="col s12">
            @helper.form(routes.AdminController.newCollection(courseId)) {

                @helper.CSRF.formField

                @myhelpers.input(newCollectionForm(Consts.idName), labelContent = "Id", isRequired = true, isReadOnly = true)

                @myhelpers.input(newCollectionForm(Consts.courseIdName), labelContent = "Kurs", isRequired = true, isReadOnly = true)

                @myhelpers.input(newCollectionForm(Consts.nameName), labelContent = "Name", isRequired = true)

                <button class="btn btn-large waves-effect waves-block @accentColor">Sammlung erstellen</button>

            }
            </div>
        </div>

    }
