@import model.{User, Collection, Consts}

@(user: User, courseId: Int, newCollectionForm: Form[Collection])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    "Neue Sammlung erstellen"
}

@main(title, Some(user)) {
    <div class="row">
        <div class="col s12">
            <h4 class="center-align">Neue Sammlung erstellen</h4>

            @helper.form(routes.AdminController.newCollection(courseId)) {

                @helper.CSRF.formField

                @myhelpers.input(newCollectionForm(Consts.nameName), labelContent = "Name", isRequired = true)

                <button class="btn btn-large waves-effect waves-block green">Sammlung erstellen</button>

            }
        </div>
    </div>

}
