@import model.{Consts, RegisterFormValues}

@(registerValuesForm: Form[RegisterFormValues])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    "Registrierung"
}

@main(title, None) {

    <h2 class="center-align">@title</h2>

    @helper.form(routes.LoginController.register(), 'class -> "col s12") {

        @helper.CSRF.formField

        @myhelpers.input(registerValuesForm(Consts.usernameName), "Nutzername", isRequired = true)

        @myhelpers.input(registerValuesForm(Consts.pwName), "Password", fieldType = "password", isRequired = true)

        @myhelpers.input(registerValuesForm(Consts.repeatPwName), "Passwort wiederholen", fieldType = "password", isRequired = true)

        <button class="btn btn-large waves-effect waves-light @accentColor">Registrieren</button>

    }
}
