@import model.{User, Course}

@(user: User, allCoursesAndRegisterStates: Seq[(Course, Boolean)])

@title = @{
    "In Kurse einschreiben"
}

@btnsPerRow = @{
    2
}

@colWidth = @{
    12 / btnsPerRow
}

@main(title, Some(user)) {

    <h2 class="center">@title</h2>

    <hr>

    @if(allCoursesAndRegisterStates.nonEmpty) {

        @for(xGroup <- allCoursesAndRegisterStates.grouped(btnsPerRow)) {
            <div class="row">

            @for((course, registered) <- xGroup; linkHref = if(registered) routes.HomeController.unregisterForCourse(course.id) else routes.HomeController.registerForCourse(course.id)) {
                <div class="col m@colWidth s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">@course.name</span>
                            <p class="@if(registered) {green} else {red}-text">Sie sind @if(!registered) {nicht} in diesen Kurs eingeschrieben.</p>
                        </div>
                        <div class="card-action">
                            <a href="@linkHref">@{
                                if(registered) "Austragen" else "Einschreiben"
                            }</a>
                        </div>
                    </div>
                </div>
            }

            </div>
        }

    } else {
        <h4 class="red-text center-align">Es konnten keine Kurse gefunden werden!</h4>
    }

    <hr>

    <div class="row">
        <div class="col s12">
            <a class="btn btn-large waves-effect waves-block @accentColor" href="@routes.HomeController.index">
                Zu meinen Kursen</a>
        </div>
    </div>

}
