@import model.{User, Course}

@(user: User, allCoursesAndRegisterStates: Seq[(Course, Boolean)])

@title = @{
    "In Kurse einschreiben"
}

@btnsPerRow = @{
    2
}

@colWidth = @{
    12 / btnsPerRow
}

@main(title, Some(user)) {

    <h2 class="center">@title</h2>

    <hr>

    @if(allCoursesAndRegisterStates.nonEmpty) {

        @for(xGroup <- allCoursesAndRegisterStates.grouped(btnsPerRow)) {
            <div class="row">

            @for((course, registered) <- xGroup;
            btnColor = if(registered) colorRed else colorGreen;
            linkText = if(registered) s"Aus Kurs ${course.name} austragen" else s"In Kurs ${course.name} einschreiben";
            linkHref = if(registered) routes.HomeController.unregisterForCourse(course.id) else routes.HomeController.registerForCourse(course.id)) {
                <div class="col m@colWidth s12">
                    <a href="@linkHref" class="btn btn-large waves-effect waves-block @btnColor">@linkText</a>
                </div>
            }

            </div>
        }

    } else {
        <h4 class="red-text center-align">Es konnten keine Kurse gefunden werden!</h4>
    }

    <hr>

    <div class="row">
        <div class="col s12">
            <a class="btn btn-large waves-effect waves-block @accentColor" href="@routes.HomeController.index()">
                Zu meinen Kursen</a>
        </div>
    </div>

}
