@import model.{User, Consts}

@(user: User, courseId: Int, collectionId: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    "Karteikarten hochladen"
}

@main(title, Some(user)) {
    <h2 class="center-align">@title</h2>

    <div class="row">
        <div class="col s12">

        @helper.form(routes.AdminController.uploadCardsFile(courseId, collectionId), Symbol("enctype") -> "multipart/form-data") {

            @helper.CSRF.formField

            <div class="file-field input-field">
                <div class="btn @primaryColor">
                    <span>Datei</span>
                    <input type="file" name="@Consts.excelFileName" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <p class="red-text"><i>Achtung:</i> Es findet keinerlei Überprüfung auf Duplikate statt!</p>

            <button class="btn btn-large waves-effect waves-block @accentColor">Hochladen</button>

        }
        </div>
    </div>


}
