@(field: Field, labelContent: String, fieldType: String = "text", placeHolder: Option[String] = None,
    isRequired: Boolean = false, isReadOnly: Boolean = false
)

    @attributes = {
    @field.value.map(x => Html(s""" value="$x" """)).getOrElse(Html("")) @if(isRequired) { required } @if(isReadOnly) { readonly }
    }

    <div class="row">
        <div class="input-field col s12">
            <input type="@fieldType" id="@field.id" name="@field.name" class="validate" placeholder="@labelContent" @attributes>
            <label for="@field.id">@labelContent</label>
        </div>
    </div>
