@(field: Field, labelContent: String, options: Seq[(String, String)], isRequired: Boolean = false)

    @attributes = {
    @if(isRequired) { required }
    }

    @defaultSelectValue = @{
        if(field.value.isEmpty) "selected" else ""
    }

    <div class="row">
        <div class="input-field col s12">
            <select id="@field.id" name="@field.name" @attributes>
                <option value="" @defaultSelectValue>Bitte wählen</option>
                @for((optionValue, optionText) <- options;
                selectStr = if(field.value.contains(optionValue)) "selected" else "") {
                    <option value="@optionValue"@selectStr>@optionText</option>
                }
            </select>
            <label for="@field.id">@labelContent</label>
        </div>
    </div>
