@import model.{User, Language}

@(user: User, languagesAndUserLearns: Seq[(Language, Boolean)])

@title = @{
    "Alle Sprachen"
}

@main(title, Some(user)) {
    @if(languagesAndUserLearns.nonEmpty) {
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for((language, user_learns) <- languagesAndUserLearns) {
                <tr>
                    <td>@language.id</td>
                    <td>@language.name</td>
                    <td>
                    @if(user_learns) {
                        <a class="btn btn-large waves-effect waves-block red" href="@routes.HomeController.deselectLanguage(language.id)">
                            @language.name abwhählen
                        </a>
                    } else {
                        <a class="btn btn-large waves-effect waves-block green" href="@routes.HomeController.selectLanguage(language.id)">
                            @language.name wählen
                        </a>
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>

    } else {
        <p class="red-text">Konnte keine Sprachen finden!</p>
    }

    <hr>

    <a href="@routes.HomeController.index()" class="btn btn-large waves-effect waves-block green">
        Zurück zur Startseite
    </a>

}