@import model.{User, Flashcard, CardType, Collection}

@(user: User, courseId: Int, collection: Collection, cards: Seq[Flashcard], readErrors: Seq[String])

@title = @{
    "Vorschau importierte Karteikarten"
}

@cardsPerRow = @{
    3
}

@colWidth = @{
    12 / cardsPerRow
}

@main(title, Some(user)) {
    @if(cards.nonEmpty) {

        <div class="row">
            <div class="col s12">
                <a href="@routes.AdminController.collectionAdmin(courseId, collection.id)" class="btn btn-large waves-effect waves-block @accentColor">
                    Zurück zur Sammlung
                </a>
            </div>
        </div>

        @for(completeCardGroup <- cards.grouped(cardsPerRow)) {
            <div class="row">
            @for(completeCard <- completeCardGroup) {
                <div class="col m@colWidth s12">
                    <div class="card-panel">
                        <p><b>ID</b>:
                            @completeCard.cardId</p>

                        <p><b>Vorderseite</b>: @completeCard.front</p>
                        <p><b>Hinwies Vorderseite:</b>
                            @completeCard.frontHint.map(fh => Html(s"<i>$fh</i>")).getOrElse("--")</p>


                        @completeCard.cardType match {
                            case CardType.Vocable | CardType.Text => {
                                <p>
                                    <b>Rückseite</b>: @completeCard.back
                                </p>
                                <p>
                                    <b>Hinwies Rückseite:</b>
                                    @completeCard.backHint.map(fh => Html(s"<i>$fh</i>")).getOrElse("--")
                                </p>
                            }
                            case CardType.Blank => {
                                <hr>

                                @for(answer <- completeCard.blanksAnswers) {
                                    <p>@answer.answer</p>
                                }
                            }
                            case CardType.Choice => {
                                <hr>

                                @for(answerGroup <- completeCard.choiceAnswers.grouped(2)) {
                                    <div class="row">
                                    @for(answer <- answerGroup) {
                                        <div class="col m6 s12">
                                            <b>@if(answer.correctness != model.Correctness.Wrong) {
                                                +
                                            } else {
                                                -
                                            }</b>
                                            @answer.answer
                                        </div>

                                    }
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
            }
            </div>
        }

    } else {
        <p class="red-text">Konnte keine Karteikarten importieren!</p>
    }
}
