@import model.{User, Flashcard, CardType, Language, Collection, WordFlashcard, TextFlashcard, BlanksFlashcard, ChoiceFlashcard}

@(user: User, language: Language, collection: Collection, cards: Seq[Flashcard], readErrors: Seq[String])

@title = @{
    "Vorschau importierte Karteikarten"
}

@cardsPerRow = @{
    3
}

@main(title, Some(user)) {
    @if(cards.nonEmpty) {

        <div class="row">
            <div class="col s12">
                <a href="@routes.AdminController.collectionAdmin(language.id, collection.id)" class="btn btn-large waves-effect waves-block green">
                    Zurück zur Sammlung
                </a>
            </div>
        </div>

        @for(completeCardGroup <- cards.grouped(cardsPerRow)) {
            <div class="row">
            @for(completeCard <- completeCardGroup) {
                <div class="col m@{
                    12 / cardsPerRow
                } s12">
                    <div class="card-panel">
                        <p>
                            @{
                                s"${completeCard.langId}.${completeCard.collId}.${completeCard.cardId}"
                            }: @completeCard.question
                        </p>

                        @completeCard match {
                            case vfc: WordFlashcard => {
                                <p>Lösung: @vfc.meaning</p>
                            }
                            case tfc: TextFlashcard => {
                                <p>Lösung: @tfc.meaning</p>
                            }
                            case bfc: BlanksFlashcard => {
                                <hr>

                                @for(answer <- bfc.answers) {
                                    <p>@answer.answer</p>
                                }
                            }
                            case cfc: ChoiceFlashcard => {
                                <hr>

                                @for(answerGroup <- cfc.choiceAnswers.grouped(2)) {
                                    <div class="row">
                                    @for(answer <- answerGroup) {
                                        <div class="col m6 s12">
                                            <b>@if(answer.correctness != model.Correctness.Wrong) {
                                                +
                                            } else {
                                                -
                                            }</b>
                                            @answer.answer
                                        </div>

                                    }
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
            }
            </div>
        }

    } else {
        <p class="red-text">Konnte keine Karteikarten importieren!</p>
    }
}