@import model.{User, Collection}

@(user: User, courseId: Int, collection: Collection, flashcardCount: Int, toLearnCount: Int)

@title = @{
    s"Sammlung '${collection.name}'"
}

@main(title, Some(user)) {
    <h3 class="center-align">@title</h3>

    <hr>

    <div class="row">
        <div class="col s12">
            <div class="card @primaryColor">
                <div class="card-content white-text">
                    <span class="card-title">
                        Diese Sammlung enthält insgesamt @flashcardCount Karteikarten.

                        <br>

                        @if(toLearnCount == 0) {
                            Sie haben alle Karteikarten gelernt.
                        } else {
                            Es existieren noch @toLearnCount neue Karteikarten.
                        }
                    </span>
                </div>
                <div class="card-action">
                @if(toLearnCount == 0) {
                    <a class="grey-text">Lernen</a>
                } else {
                    <a href="@routes.HomeController.learn(courseId, collection.id)">Lernen</a>
                }
                </div>
            </div>
        </div>
    </div>
}
