@import model.{User, Language, Collection}

@(user: User, language: Language, collection: Collection, flashcardCount: Int, toLearnCount: Int, toRepeatCount: Int)

@title = {
    Sammlung &quot;@collection.name&quot;
}


@main(title.toString(), Some(user)) {
    <h2 class="center-align">@title</h2>

    <hr>

    <h5 class="center-align">Diese Sammlung enthält insgesamt @flashcardCount Karteikarten.</h5>

    <br>

    <div class="row">
        <div class="col s12">
        @if(toLearnCount == 0) {
            <a class="btn btn-large waves-effect waves-block white">
                <span class="green-text">Sie haben alle Karteikarten gelernt.</span>
            </a>
        } else {
            <a href="{{ url_for('languages.route_learn', lang_id = language.id, coll_id = collection.id) }}"
            class="btn btn-large waves-effect waves-block red">
                Es existieren noch @toLearnCount neue Karteikarten.
            </a>
        }
        </div>
    </div>

    <div class="row">
        <div class="col s12">
        @if(toRepeatCount == 0) {
            <a class="btn btn-large waves-effect waves-block white">
                <span class="green-text">Sie haben alle Karteikarten wiederholt.</span>
            </a>
        } else {
            <a href="{{ url_for('languages.route_repeat', lang_id = language.id, coll_id = collection.id) }}"
            class="btn btn-large waves-effect waves-block red">
                Es existieren noch @toRepeatCount nicht wiederholte Karteikarten.
            </a>
        }
        </div>
    </div>

}