@import model.{User, Course, Collection}

@(user: User, course: Course, collections: Seq[Collection])

@title = @{
    s"Kurs '${course.name}'"
}

@collsPerRow = @{
    2
}

@colWidth = @{
    12 / collsPerRow
}

@main(title, Some(user)) {
    <h3 class="center-align">@title</h3>

    <hr>

    @if(collections.nonEmpty) {

        @for(collectionGroup <- collections.grouped(collsPerRow)) {
            <div class="row">
            @for(collection <- collectionGroup) {
                <div class="col m@colWidth s12">
                    <div class="card @primaryColor">
                        <div class="card-content white-text">
                            <span class="card-title">@collection.name</span>
                        </div>
                        <div class="card-action">
                            <a href="@routes.HomeController.collection(course.id, collection.id)">Zur Sammlung</a>
                        </div>
                    </div>
                </div>
            }
            </div>
        }

    } else {
        <h4 class="center-align red-text">Für diesen Kurs existieren noch keine Sammlungen.<br>
            Wenden Sie Sich bitte an den oder die Kursverantwortliche(n).</h4>
    }

}
