@import model.{User, Course}

@(user: User, courses: Seq[Course], repeatCount: Int, pwSet: Boolean)

@title = @{
    "Startseite"
}


@coursesPerRow = @{
    2
}

@colWidth = @{
    12 / coursesPerRow
}

@main(title, Some(user)) {

    <h3 class="center-align">@title</h3>

    <hr>

    @if(!user.hasAcceptedDataPrivacyStatement) {
        <div class="row">
            <div class="col s12">
                <div class="card @primaryColor">
                    <div class="card-content white-text">
                        <span class="card-title">Datenschutzerklärung und Einwilligung zur Datenerhebung</span>

                        <p>(Stand Dezember 2018)</p>

                        <br>

                        <p>Der Datenschutz ist der Universität Würzburg besonders wichtig, deshalb kommen wir unserer
                            Verpflichtung gemäß Art. 13 Abs. 1 der Datenschutzgrundverordnung gerne nach und geben Ihnen
                            folgende Informationen zur Erhebung Ihrer Daten.</p>

                        <p>Verantwortlicher für die Datenerhebung ist die Universität Würzburg, Sanderring 2,
                            97070 Würzburg, E-Mail: <a href="info@@uni-wuerzburg.de">info@@uni-wuerzburg.de</a>.
                            Für Fragen des Datenschutzes können Sie sich an den behördlichen Datenschutzbeauftragten der
                            Universität, Sanderring 2, 97070 Würzburg, E-Mail: <a href="datenschutz@@uni-wuerzburg.de">
                            datenschutz@@uni-wuerzburg.de</a>    wenden.</p>

                        <br>

                        <p>
                            <span class="red-text">
                                Die erhobenen Daten werden ausschließlich zu Forschungszwecken innerhalb von WueKabel
                                genutzt</span>, hierzu sind wir nach Art. 6 Abs. 1 Buchst. a DSGVO berechtigt.</p>

                        <p class="red-text">
                            Die Daten werden zu Forschungszwecken für mind. 10 Jahre gespeichert und dann gelöscht.
                            Falls es in einzelnen Fällen nötig ist die Daten länger zu speichern, erfolgt dies in enger
                            Abstimmung mit dem behördlichen Datenschutzbeauftragten.</p>

                        <br>

                        <p><b>Weitere Informationen über Ihre Rechte bezüglich der DSGVO finden Sie hier:</b></p>

                        <br>

                        <p class="center-align"><a href="https://www.uni-wuerzburg.de/universitaet/datenschutzbeauftragter">
                            https://www.uni-wuerzburg.de/universitaet/datenschutzbeauftragter</a></p>

                        <br>

                        <p>Mit dem Bestätigen der Einverständniserklärung erklären Sie, dass Sie die Datenschutzerklärung zur Kenntnis genommen haben und damit Einverstanden sind.</p>
                    </div>
                    <div class="card-action">
                        <a href="@routes.HomeController.acceptDPS()">Akzeptieren</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>
    }

    <div class="row">
        <div class="col s12">
            <div class="card @primaryColor">
                <div class="card-content white-text">
                    <span class="card-title">
                    @if(repeatCount > 0) {
                        Es sind noch @repeatCount Karteikarten bereit zum Wiederholen.
                    } else {
                        Sie haben alle Karteikarten wiederholt.
                    }
                    </span>
                </div>
                <div class="card-action">
                @if(repeatCount == 0) {
                    <a class="grey-text">Wiederholen</a>
                } else {
                    <a href="@routes.HomeController.repeat()">Wiederholen</a>
                }
                </div>
            </div>
        </div>
    </div>

    <hr>

    @if(!pwSet) {
        <div class="row">
            <div class="col s12">
                <div class="card-panel red white-text">
                    Sie haben noch kein Passwort für diese Anwendung eingerichtet. Sie können Sie weiterhin nutzen, sich aber nur über WueCampus einloggen.
                    Sie können <a href="@routes.LoginController.changePwForm">hier</a> ein Passwort vergeben.
                </div>
            </div>
        </div>

        <hr>
    }

    <section>
        <h4>Meine Kurse</h4>

        @if(courses.nonEmpty) {
            @for(courseGroup <- courses.grouped(coursesPerRow)) {
                <div class="row">
                @for(course <- courseGroup) {
                    <div class="col m@colWidth s12">
                        <div class="card @primaryColor">
                            <div class="card-content white-text">
                                <span class="card-title">@course.name</span>
                            </div>
                            <div class="card-action">
                                <a href="@routes.HomeController.course(course.id)">Zum Kurs</a>
                            </div>
                        </div>
                    </div>
                }
                </div>
            }

        } else {
            <h4 class="red-text center-align">Sie sind noch nicht in einem Kurs registriert.</h4>
        }

        <hr>

        <div class="row">
            <div class="col s12">
                <a class="btn btn-large waves-effect waves-block @accentColor" href="@routes.HomeController.registerForCoursesForm">
                    In Kurse einschreiben</a>
            </div>
        </div>
    </section>

}

