@import model.{User, Course}

@(user: User, courses: Seq[Course], repeatCount: Int, pwSet: Boolean)

@title = @{
    "Startseite"
}


@coursesPerRow = @{
    2
}

@colWidth = @{
    12 / coursesPerRow
}

@main(title, Some(user)) {

    <h3 class="center-align">@title</h3>

    <hr>

    <div class="row">
        <div class="col s12">
            <div class="card @primaryColor">
                <div class="card-content white-text">
                    <span class="card-title">
                    @if(repeatCount > 0) {
                        Es sind noch @repeatCount Karteikarten bereit zum Wiederholen.
                    } else {
                        Sie haben alle Karteikarten wiederholt.
                    }
                    </span>
                </div>
                <div class="card-action">
                @if(repeatCount == 0) {
                    <a class="grey-text">Wiederholen</a>
                } else {
                    <a href="@routes.HomeController.repeat()">Wiederholen</a>
                }
                </div>
            </div>
        </div>
    </div>

    <hr>

    <section>
        <h4>Meine Kurse</h4>

        @if(courses.nonEmpty) {
            @for(courseGroup <- courses.grouped(coursesPerRow)) {
                <div class="row">
                @for(course <- courseGroup) {
                    <div class="col m@colWidth s12">
                        <div class="card @primaryColor">
                            <div class="card-content white-text">
                                <span class="card-title">@course.name</span>
                            </div>
                            <div class="card-action">
                                <a href="@routes.HomeController.course(course.id)">Zum Kurs</a>
                            </div>
                        </div>
                    </div>
                }
                </div>
            }

        } else {
            <h4 class="red-text center-align">Sie sind noch nicht in einem Kurs registriert.</h4>
        }

        @if(!pwSet) {
            <hr>

            <div class="card-panel red white-text">
                Sie haben noch kein Passwort für diese Anwendung eingerichtet. Sie können Sie weiterhin nutzen, sich aber nur über WueCampus einloggen.
                Sie können <a href="@routes.LoginController.changePwForm">hier</a> ein Passwort vergeben.
            </div>
        }

        <hr>

        <div class="row">
            <div class="col s12">
                <a class="btn btn-large waves-effect waves-block @accentColor" href="@routes.HomeController.registerForCoursesForm">
                    In Kurse einschreiben</a>
            </div>
        </div>
    </section>

}

