@import model.{User, Language, Collection}

@(user: User, language: Language, collections: Seq[Collection])

@title = @{
    s"Sammlungen ${language.name}"
}


@main(title, Some(user)) {

    <h2 class="center-align">@title</h2>

    <hr>

    @if(collections.nonEmpty) {
        @for(collection <- collections) {
            <div class="row">
                <div class="col s12">
                    <a href="@routes.HomeController.collection(language.id, collection.id)"
                    class="btn btn-large waves-effect waves-block green">@collection.id: @collection.name</a>
                </div>
            </div>
        }
    } else {
        <h4 class="red-text center-align">Konnte keine Sammlungen finden!</h4>
    }

}