@import model.{CardType, Collection, Correctness, Course, Flashcard, User, UserAnsweredFlashcard}

@(user: User, course: Course, collection: Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    "Neue Vokabeln lernen"
}

@scripts = {
    <script src="@routes.Assets.versioned("scripts/learnRepeatBasics.js")"></script>
    <script src="@routes.Assets.versioned("scripts/questionMaker.js")"></script>
    <script src="@routes.Assets.versioned("scripts/learnRepeat.js")"></script>
}

@main(title, Some(user), scripts = scripts) {
    @helper.CSRF.formField

    <button id="loadFlashcardButton" data-href="@routes.HomeController.nextFlashcardToLearn(course.id, collection.id)">
        Laden...
    </button>

            <div class="row">
                <div class="col s12 l8 offset-l2">
                    <div class="card-panel">
                        <h4 class="center-align" id="questionDiv"></h4>
                    </div>

                    <p class="center-align">
                        <code>
                            Stapel:
                            <span id="bucketSpan">--</span>
                        </code>
                        <code>
                            Versuche:
                            <span id="triesSpan">0</span>
                        </code>
                    </p>


                    <div id="answerDiv"></div>

                    <p id="correctionTextPar">&nbsp;</p>

                    <button class="btn btn-large waves-effect @primaryColor" id="checkSolutionBtn" data-href="@routes.HomeController.checkSolution">
                        Lösung testen
                    </button>

                    <button id="nextFlashcardBtn" class="btn btn-large waves-effect @accentColor" disabled>
                        Nächste Karteikarte
                    </button>
                </div>
            </div>
}

