@import model.{CardType, Flashcard, User, UserAnsweredFlashcard, Correctness}

@(user: User)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    "Vokabeln wiederholen"
}

@scripts = {
    <script src="@routes.Assets.versioned("scripts/helpers.js")"></script>
    <script src="@routes.Assets.versioned("scripts/questionMaker.js")"></script>
    <script src="@routes.Assets.versioned("scripts/repeat.js")"></script>
}

@main(title, Some(user), scripts) {
    @helper.CSRF.formField

    <button onclick="performInitialFlashcardLoad()" id="loadFlashcardButton" data-href="@routes.HomeController.nextFlashcardToRepeat">
        Laden...</button>

    <div class="row">
        <div class="col s12 l8 offset-l2">

            <div class="card-panel">
                <h4 class="center-align" id="questionDiv"></h4>
            </div>

            <p class="center-align">
                <code>Versuche: <span id="triesSpan">0</span></code>
            </p>


            <div id="answerDiv"></div>

            <p id="correctionTextPar">&nbsp;</p>

            <button class="btn btn-large waves-effect @primaryColor" onclick="checkSolution();" id="checkSolutionBtn"
            data-href="@routes.HomeController.checkSolution()">Lösung testen</button>

            <button onclick="loadNextFlashcard()" id="nextFlashcardBtn" class="btn btn-large waves-effect @accentColor" disabled>
                Nächste Karteikarte</button>

        </div>
    </div>
}

